body {
  font-family: 'Montserrat', sans-serif !important;
}

.wrapper {
  overflow: hidden;
}

.navbar {
  border-bottom: 5px solid #dc143c;
}

.background-color {
  background-color: #dc143c;
}

.navbar-brand,
.nav-link {
  font-family: 'Ubuntu Condensed', sans-serif !important;
}

ul.navbar-nav a:hover {
  color: #dc143c !important;
}

.blood-color {
  color: #dc143c;
}

.input-border {
  border-radius: 10px !important;
  padding: 3px;
}

.card {
  border-radius: 15px !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 153px 0 0 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  display: block;
}

.card-footer {
  padding: 54px !important;
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

/***** Media size 321 *****/

@media screen and (min-width: 320px) and (max-width: 400px) {
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 88px 0 0 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    display: block;
  }
}

/***** Media size 401 *****/

@media screen and (min-width: 401px) and (max-width: 500px) {
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 105px 0 0 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    display: block;
  }
}

/***** Media size 501 *****/

@media screen and (min-width: 501px) and (max-width: 770px) {
  .wrapper {
    width: 100%;
    height: 100%;
    margin: 105px 0 0 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    display: block;
  }
}

/***** Media size 771 *****/

@media screen and (min-width: 771px) and (max-width: 1050px) {
}

@media screen and (min-width: 1200px) {
}
