body {
  font-family: 'Montserrat', sans-serif !important;
}

.wrapper {
  overflow: hidden;
}

#body {
  display: none;
}

.navbar {
  border-bottom: 3px solid #dc143c;
}

#loader {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 40%;
  display: 'block';
}

.home-image {
  background: url(../img/Blood_Donation-1200x549-facebook.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -10;
  height: 100vh;
  /* margin-top: -20px; */
}

.text-highlight {
  margin-top: 20%;
}

.qoute {
  border-left: 3px solid white;
}

.image-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.bg-header1 {
  font-size: 79px;
  font-family: 'Merriweather Sans', sans-serif !important;
}
.bg-header2 {
  font-size: 96px;
  color: #dc143c;
  font-family: 'Pacifico', cursive !important;
}

.navbar-brand,
.nav-link {
  font-family: 'Ubuntu Condensed', sans-serif !important;
}

ul.navbar-nav a:hover {
  color: #dc143c !important;
}

#team {
  background-color: #424242;
}

.profile-style {
  border: 5px solid #dc143c;
  border-radius: 50%;
}

/* .linkedIn {
  position: absolute;
  left: 95px;
}

.github {
  position: absolute;
  left: 120px;
} */

.developer-heading {
  line-height: 58px;
}

.blood-color {
  color: #dc143c;
}

/***** Media size 321 *****/

@media screen and (min-width: 320px) and (max-width: 400px) {
  #loader {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 35%;
    display: 'block';
  }

  .home-image {
    height: 315px;
  }

  section#about h1 {
    font-size: 20px;
  }

  section#about h2 {
    font-size: 16px;
    font-weight: bo ld;
  }

  section#services h1 {
    font-size: 20px;
  }

  .bg-header1 {
    font-size: 25px;
    font-family: 'Merriweather Sans', sans-serif !important;
  }
  .bg-header2 {
    font-size: 33px;
    color: #dc143c;
    font-family: 'Pacifico', cursive !important;
  }

  .text-highlight {
    margin-top: 34%;
  }
}

/***** Media size 401 *****/

@media screen and (min-width: 401px) and (max-width: 500px) {
  #loader {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 30%;
    left: 38%;
    display: 'block';
  }

  .home-image {
    height: 350px;
  }

  section#about h1 {
    font-size: 20px;
  }

  section#about h2 {
    font-size: 16px;
    font-weight: bold;
  }

  section#services h1 {
    font-size: 20px;
  }

  .bg-header1 {
    font-size: 25px;
    font-family: 'Merriweather Sans', sans-serif !important;
  }
  .bg-header2 {
    font-size: 33px;
    color: #dc143c;
    font-family: 'Pacifico', cursive !important;
  }

  .text-highlight {
    margin-top: 34%;
  }
}

/***** Media size 501 *****/

@media screen and (min-width: 501px) and (max-width: 770px) {
  #loader {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 30%;
    left: 38%;
    display: 'block';
  }

  .home-image {
    height: 417px;
  }

  .bg-header1 {
    font-size: 67px;
    font-family: 'Merriweather Sans', sans-serif !important;
  }
  .bg-header2 {
    font-size: 78px;
    color: #dc143c;
    font-family: 'Pacifico', cursive !important;
  }

  .text-highlight {
    margin-top: 14%;
  }
}

/***** Media size 771 *****/

@media screen and (min-width: 771px) and (max-width: 1050px) {
  #loader {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 30%;
    left: 39%;
    display: 'block';
  }

  .home-image {
    height: 600px;
  }

  .image-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
  }

  .bg-header1 {
    font-size: 73px;
    font-family: 'Merriweather Sans', sans-serif !important;
  }
  .bg-header2 {
    font-size: 84px;
    color: #dc143c;
    font-family: 'Pacifico', cursive !important;
  }
}

@media screen and (min-width: 1200px) {
}
